/* Soluzione qui */


@media screen and (min-width: 768px) {
    #topbar {

        justify-content: flex-start;


    }

    main {
        padding: 44px;
    }

    .recipe-name::before {
        content: "Dolce tradizionale: ";

    }

    .recipe-name {
        font-size: xx-large;
    }

    .btn {
        padding: 14px 40px;
    }
    .ads{
        display: block;
        
    }

    img {
        float: left;
        
    }
    
   .quick-notes ul {
        display: flex;
        flex-wrap: wrap;

    }

    .quick-notes li {
        flex-basis: calc(100%/3);
    }
}

@media screen and (min-width: 992px) {

    .recipe-name {
        font-size: xx-large;
    }

    .quick-notes ul {
        display: block;


    }

    .recipe-video {
        flex-grow: 1;
        height: auto;
    }

    .recipe-card {
        display: flex;
        height: 0;
        min-height: 450px;


    }

    footer {
        display: flex;
        justify-content: space-between;
        
    }

    
}